canvas{
    background-color: white;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: black;
    color:white;
}

h2{
    font-size: 3rem;
    color:white;
}
a{
    display: flex;
    align-items: center;
}